services:
  knowledge_server:
    image: ghcr.io/kalicyh/knowledge_server:latest
    container_name: knowledge_server
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=mysql+mysqlconnector://username:password@localhost/dbname
      - TZ=Asia/Shanghai
